<div id="drawer-settings" class="drawer-pane dt-active">
    <div class="pane-header"><h2>Settings</h2></div>
    <div class="pane-content">
        <div class="pane-tabs">
            <a href="#" title="Train Settings"><h3 class="section-label active" data-toggle-tab="train">Train</h3></a>
            <a href="#" title="Bus Settings"><h3 class="section-label" data-toggle-tab="bus">Bus</h3></a>
            <a href="#" title="Misc Settings"><h3 class="section-label" data-toggle-tab="misc">Misc</h3></a>
        </div>
        <section class="pane-tab active" id="train" data-tab="train">
            <hr>
            <div class="pane-setting">
                <h4>Filter By Color</h4>
                <ul class="filters-list filter-section">
                    {{#each settings.trainLine}}
                    <li class="train-line {{lineColor}} checkbox-wrapper">
                        <label for="toggle-{{lineColor}}">{{[helpers/prettify-train-lines] lineColor}} Line</label>
                        <input class="custom-checkbox dt-custom-switch" id="toggle-{{lineColor}}" type="checkbox" checked="checked" toggle-line="{{lineColor}}"/>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <hr>
            <div class="pane-setting setting-inline">
                <h4>Marker Size</h4>
                <select name="markerSize" id="markerSize">
                    <option value="5">Small</option>
                    <option value="8" selected>Medium</option>
                    <option value="10">Large</option>
                </select>
            </div>
            {{!-- <hr> --}}
            {{!-- <div class="pane-setting wrap-inline">
                <h4>Stations</h4>
                <input class="custom-switch" type="checkbox">
            </div> --}}
        </section>
        <section class="pane-tab" id="bus"><h4 class="coming-soon">Coming Soon!</h4></section>
        <section class="pane-tab" id="misc"><h4 class="coming-soon">Coming Soon!</h4></section>
    </div>
    <div class="drawer-pane-child marker-size"></div>
    <div class="drawer-pane-child train-id-labels"></div>
</div>
<div id="drawer-locate" class="drawer-pane">
    <div class="pane-header"><h2>Locate</h2></div>
</div>
<div id="drawer-about" class="drawer-pane">
    <div class="pane-header"><h2>About</h2></div>
    <div class="pane-content">
        <section>
            <h4>Developed By</h4>
            <p>Patrick Piwowarczyk</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/ppiwo/" title="Connect me on LinkedIn" rel="noopener noreferrer nofollow" target="_blank">
                    <img src="{{about.icons.linkedin}}" alt="LinkedIn">
                </a>
                <a href="https://github.com/ppiwo" title="Follow me on Github" rel="noopener noreferrer nofollow" target="_blank">
                    <img src="{{about.icons.github}}" alt="Github Logo">
                </a>
                <a href="https://twitter.com/pat_piwo_" title="Follow me on Twitter" rel="noopener noreferrer nofollow" target="_blank">
                    <img src="{{about.icons.twitter}}" alt="Twitter Logo">
                </a>
            </div>
        </section>
        <section>
            <h4>Data Provided By</h4>
            <div class="social-icons">
                <a href="https://developers.google.com/maps/documentation" title="Google Maps Javascript API" rel="noopener noreferrer nofollow" target="_blank">
                    <img src="{{about.icons.google}}" alt="Google Logo">
                </a>
                <a href="https://www.transitchicago.com/developers/traintracker/" title="CTA Train Tracker API" rel="noopener noreferrer nofollow" target="_blank">
                    <img src="{{about.icons.cta}}" alt="CTA Logo">
                </a>
            </div>
        </section>
    </div>
</div>