<div id="drawer-settings" class="drawer-pane active">
    <div class="pane-header"><h2>Settings</h2></div>
    <div class="pane-content">
        <div class="labels">
                <div class="label">Filter</div>
                <div class="label">Marker</div>
                <div class="label">Misc</div>
        </div>
        <section id="filters">
            <ul class="filters-list">
                {{#each settings.trainLine}}
                <li class="train-line {{lineColor}}">
                    <label for="toggle-{{lineColor}}">{{lineColor}} Line:</label>
                    <input id="toggle-{{lineColor}}" type="checkbox" toggle-line="{{lineColor}}"></input>
                </li>
                {{/each}}
            </ul>
        </section>
    </div>
    <div class="drawer-pane-child marker-size"></div>
    <div class="drawer-pane-child train-id-labels"></div>
</div>
<div id="drawer-locate" class="drawer-pane">
    <p>Locate</p>
</div>
<div id="drawer-about" class="drawer-pane">
    <p>About</p>
</div>